/* https://colorhunt.co/palette/2f8f9d3bacb682dbd8b3e8e5*/
body{
  font-family: 'Poppins', sans-serif;
}

h1{
  text-align: center;
}

p {
  color: #2F8F9D;
  background: #B3E8E5;
  padding: 0.325em;
  margin: 0;
}