{% extends "base.html" %}

{% block title %} Boas Vindas {% endblock %}
  
{% block header %}
  {% include "presentation.html" %}
  {% if greeting %}
    <p> {{ greeting|title }}</p>
  {% endif %}
{% endblock %}

{% block time-info %}
    {% include "date-week.html" %}
{% endblock %}

{% block content %}
<p>Acesse o formulário clicando <a href="{% url 'manual_form' %}">neste link</a>.</p>
<p>Acesse o formulário django clicando <a href="{% url 'django_form' %}">neste link</a>.</p>
{% endblock %}
  