<!DOCTYPE HTML>
{% load static %}
<html>
<head>
  <title>Boas Vindas</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
  {% include "presentation.html" %}
  {% if greeting and today %}
    <h3>{{ greeting }} - {{ today }}</h3>
  {% elif greeting and not today %}
    <h3>{{ greeting }}</h3>
  {% elif not greeting and today %}
    <h3>{{ today }}</h3>
  {% else %}
    <h3>Não informada a data nem boas vindas.</h3>
  {% endif %}
  {% now "j \d\e F Y H:i" %}
  {% for week in week_days %}
    {% if forloop.counter == today.isoweekday %}
      <p> <strong>{{ week }}</strong></p>
    {% else %}
      <p>{{ week }}</p>
    {% endif %}
  {% empty %}
    <h3>Não existem informações</h3>
  {% endfor %}
  
</body>
</html>