{% extends "base.html" %}

{% block title %} Boas Vindas {% endblock %}
  
{% block header %}
  {% include "presentation.html" %}
  {% if greeting %}
    <p> {{ greeting|title }}</p>
  {% endif %}
{% endblock %}

{% block time-info %}
    {% include "date-week.html" %}
{% endblock %}

{% block content %}
<p>Acesse o formulário clicando <a href="{% url 'manual_form' %}">neste link</a>.</p>
<p>Acesse o formulário django clicando <a href="{% url 'django_form' %}">neste link</a>.</p>
<hr>
<p>Criar um novo Time <a href="{% url 'scoreboard:django_form_model' %}">acesse</a>.</p>
<p> <a href="{% url 'scoreboard:list_team' %}" >Ver lista de times cadastrados</a> </p>
{% endblock %}


  